In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('m.csv')

In [3]:
movies=movies[['id', 'title', 'overview', 'genre']]

In [4]:
movies['tags'] = movies['overview']+movies['genre']

In [5]:
new_data  = movies.drop(columns=['overview', 'genre'])

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=10000, stop_words='english')

In [7]:
vector=cv.fit_transform(new_data['tags'].values.astype('U')).toarray()

In [8]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vector)

In [9]:
def recommand(movies):
    index=new_data[new_data['title']==movies].index[0]
    distance = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda vector:vector[1])
    for i in distance[0:5]:
        print(new_data.iloc[i[0]].title)

In [10]:
recommand("Iron Man")

Iron Man
Iron Man 3
Guardians of the Galaxy Vol. 2
Avengers: Age of Ultron
Star Wars: Episode III - Revenge of the Sith

In [11]:
import pickle

In [12]:
pickle.dump(new_data, open('movies_list.pkl', 'wb'))

In [13]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))

In [14]:
pickle.load(open('movies_list.pkl', 'rb'))

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,Seeking justice for his partner’s murder by an...